@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Great+Vibes', 'Raleway', 'Lora', 'Playfair+Display';
    scroll-behavior: smooth;
  }

.ornateHome{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /* text-orientation: upright; */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.fadeImg{
  -webkit-mask-image: linear-gradient(to left, #D3BCA8, rgba(211, 188, 168, 0));
  mask-image: linear-gradient(to left, #D3BCA8, rgba(211, 188, 168, 0));
}

